.venv
.pynb_checkpoints
docs
__pycache__
lessons-2/python-basics/.pynb_checkpoints
lessons-2/python-basics/__pycache__
file.txt
chat_history.txt
.env
lesson-2/python-data-analysis/.pynb_checkpoints
lesson-2/python-data-analysis/.env
*.csv
*.txt
*.xlsx
*.png
*.pkl
*.env
*.jpeg
*.log
.agents
.claude
db
